.card {
  display: inline-block;
  background-color: #7DC0EB;
  width: 50%;
  height: 50%;
  color: white;
  font-family: arial;
  border-radius: 5px;
  vertical-align: top;
  padding: 13px;
  margin-left: -238px;

}
.card:hover {
  background-color:#3B95CB
}
h1 {
  border-bottom: 1px solid #AFD8F2;
  padding-bottom: 14px;
  text-align: left;
}
.card-2:hover {
  background-color: #3B95CB;
}
.card-2 {
  background-color: #7DC0EB;
  width: 50%;
  height: 50%;
  color: white;
  font-family: arial;
  border-radius: 5px;
  padding: 13px;
  margin-top: 14px;
}
.triangle {
  display: inline-block;
  margin-left: 68px;
  margin-top: 6px;
  position: absolute;
}
.triangle-2 {
  display:inline-block;
  margin-left: 306px;
  margin-top: 20px;
  position: absolute;
}
.material-icons {
  color: white;
  background-color: #3B95CB;
  border-radius: 100%;
  padding: 3px;
  border: 4px solid #7DC0EB;
  margin-left: 200px;
  float: left;
}

p {
  text-align: left;
}
.whole-page {
  margin-top: 22px;
}
.icon-line-2 {
  margin-top:10px;
}
.vertical-line {
  border-left: 7px #7DC0EB solid;
  height: 186px;
  position: absolute;
  top: 60px;
  left: 224px;
}
.vertical-line-2 {
  border-left: 7px #7DC0EB solid;
  height: 186px;
  position: absolute;
  top: 280px;
  left: 224px;
}
