.card {
  display: inline-block;
  background-color: #7DC0EB;
  max-width: 50%;
  height: 50%;
  color: white;
  font-family: arial;
  border-radius: 5px;
  vertical-align: top;
  padding: 13px;
  margin: 0 auto;

}
.card:hover {
  background-color:#3B95CB;
  transition: 1s ease-in-out;
}
h1 {
  border-bottom: 1px solid #AFD8F2;
  padding-bottom: 14px;
  text-align: left;
}
.card-2:hover {
  background-color: #3B95CB;
  transition: 1s ease-in-out;
}
.card-2 {
  background-color: #7DC0EB;
  max-width: 50%;
  height: 50%;
  color: white;
  font-family: arial;
  border-radius: 5px;
  padding: 13px;
  margin-top: 14px;
  margin: 0 auto;
}
.triangle {
  display: inline-block;
  margin-left: -.6%;
  margin-top: 19px;
  position: absolute;
}
.triangle-2 {
  display:inline-block;
  margin-left: 23.2%;
  margin-top: 20px;
  position: absolute;
}
.material-icons {
  color: white;
  background-color: #3B95CB;
  border-radius: 100%;
  padding: 3px;
  border: 4px solid #7DC0EB;
  margin-left: 200px;
  float: left;
  margin-right: 7.4%;
}

p {
  text-align: left;
}
.whole-page {
  margin-top: 22px;
}
.icon-line-2 {
  margin-top:10px;
}
.vertical-line {
  border-left: 7px #7DC0EB solid;
  height: 189px;
  position: absolute;
  top: 59px;
  left: 224px;
}
.vertical-line-2 {
  border-left: 7px #7DC0EB solid;
  height: 186px;
  position: absolute;
  top: 280px;
  left: 224px;
}
.date {
  position: absolute;
  left: 10.5%;
  top: 8px;
  color: #CBD9E3;
  font-family: arial;
  font-size: 12px;
}
.time {
  font-family: arial;
  color: #7DC0EB;
  position: absolute;
  left: 6.7%;
  top: -1%;
  font-size: 40px;

}
.time-1 {
  font-family: arial;
  color: #7DC0EB;
  font-size: 40px;
  position: absolute;
  left: 6.7%;
  top: 27.3%;
}
.date-1 {
  position: absolute;
  left: 10.5%;
  top: 237px;
  color: #CBD9E3;
  font-family: arial;
  font-size: 12px;
}
